ConnectionStrings__DefaultConnection=Host=TU_HOST;Port=5432;Database=postgres;Username=TU_USUARIO;Password=TU_PASSWORD;SSL Mode=Require;Trust Server Certificate=true
Jwt__Issuer=Peluqueria.Api
Jwt__Audience=Peluqueria.Client
Jwt__SecretKey=CAMBIAR_POR_UN_SECRETO_LARGO_DE_PRODUCCION
Jwt__ExpirationMinutes=120
GoogleAuth__ClientId=TU_GOOGLE_CLIENT_ID
GoogleAuth__AdminEmails__0=tu-email-admin@gmail.com
Notifications__WhatsApp__Enabled=false
Notifications__WhatsApp__PhoneNumberId=TU_META_PHONE_NUMBER_ID
Notifications__WhatsApp__AccessToken=TU_META_ACCESS_TOKEN
Notifications__WhatsApp__ApiVersion=v20.0
Notifications__WhatsApp__ReservationCreatedTemplateName=turno_solicitado
Notifications__WhatsApp__LanguageCode=es_AR
AllowedOrigins__0=https://tu-frontend.com
